@font-face {
    font-family:"Futura";
    src:url("../../assets/font/FuturaLight.ttf") format("truetype");
    font-weight:400;
    font-style:normal;
}

@font-face{
    font-family:"FuturaMedium";
    src:url("../../assets/font/FuturaMedium.ttf") format("truetype");
    font-weight:600;
    font-style:normal;
}

@font-face{
    font-family:"FuturaHeavy";
    src:url("../../assets/font/FuturaHeavy.ttf") format("truetype");
    font-weight:800;
    font-style:normal;
}