@use "../../styles/partials/mixins" as *;

.card {
  box-sizing: border-box;
  width: 100%;
  margin: 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  @include tablet {
    width: calc(50% - 20px);
  }

  @include desktop {
    width: calc(20% - 20px);
  }

  &:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  &__image-container {
    flex: 0 0 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75rem;
    border: 2px solid #d6dfe8;
    border-radius: 15px;
    overflow: hidden;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f7fa;
    padding: 1rem;
    border-radius: 0 0 15px 15px;
  }

  &__title-container {
    text-align: center;
    font-weight: 600;
    font-size: 1.1em;
    margin-bottom: 0.5rem;
  }

  &__link {
    text-decoration: none;
    color: #333;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    text-align: center;
    gap: 0.5rem;

    @include desktop {
      margin: 0 -15px;
    }
  }

  &__price {
    font-family: "FuturaHeavy";
    font-size: 2rem;
    color: #138213;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: rgba(132, 231, 132, 0.582);
    }
  }

  &__price-info {
    display: flex;
    align-items: center;
    gap: 0.155rem;
    justify-content: center;
    text-align: center;
    padding: 0.5rem;
  }

  &__discount {
    margin: 0;
  }

  &__discount-strike {
    text-decoration: line-through;
    color: #e84a4a;
  }

  &__rating-icon,
  &__reviews-icon {
    margin-left: 0.5rem;
  }

  &__rating-icon {
    color: gold;
  }

  &__reviews-icon {
    color: #d1ab60;
  }
  &__sales {
    margin: 0.5rem 0;
    &-icon {
      color: #d1ab60;
      margin-right: 0.5rem;
    }
  }
  &__save {
    background-color: #e84a4a;
    border-radius: 10px;
    padding: 0.25rem;
    color: #ffffff;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken(#e84a4a, 10%);
    }
  }
  &__shipping {
    &-icon {
      color: #42098d;
    }
  }
}
