@use "../../styles/partials/mixins" as *;

.search-bar {
  display: none;

  @include desktop {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 3rem 3rem 0 0;
  }

  input {
    padding: 0.75rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 25rem;
  }

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #333;
    font-size: 1.2rem;
  }
}
