@use "../../styles/partials/mixins" as *;

.search-bar {
  display: none; 
  
  &.active {
    display: flex; 
    flex-direction: row;
    @include desktop {
      display: flex;
      flex-direction: column; 
    }
  }

  @include desktop {
    align-items: center;
    gap: 0.5rem;
    margin-right: 3rem;
  }

  input {
    padding: 0.75rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 25rem;
  }

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #333;
    font-size: 1.2rem;
  }
}