@use "../../styles/partials/mixins" as *;

.header {
  &__container {
    background-color: #d6dfe8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__logo {
    width: 50%;
  }
  &__searchbar {
    width: 80%;
    border-radius: 5px;
    height: 1.5rem;
    &-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;
    }
  }
  @include tablet {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d6dfe8;
  }
}
