@use "../../styles/partials/mixins" as *;

.header {
  &__container {
    background-color: #d6dfe8;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__logo {
    width: 40%;
    flex: 0 0 auto;
    @include tablet {
      width: 30%;
    }
    @include desktop {
      width: 9.5%;
      margin-left: 2.5rem;
    }
  }



  &__menu,
  &__search {
    margin: 1rem;
    font-size: 1.5rem;
  }

  &__menu,
  &__search {
    @include desktop {
      display: none;
    }
  }

  &__nav {
    display: none;
    position: absolute;
    left: 220px;
    top: 50px;

    &.active {
      display: flex;
      flex-direction: column;

      @include tablet;
      desktop {
        flex-direction: row;
      }
    }

    @include desktop {
      display: flex;
      flex-direction: row;
    }

    ul {
      display: flex;
      gap: 1.5rem;
      border-radius: 10px;

      @include tablet;
      desktop {
        flex-direction: row;
      }
    }
    &-link {
      font-size: 2rem;
      font-family: "FuturaHeavy", sans-serif;
      color: #262626;
      text-transform: uppercase;
      &:hover {
        color: #e84a4a;
      }
    }
  }
}
