@use "./styles/partials/globals" as *;

.app {
  &__controls {
    display: flex;
    justify-content: flex-end;
    margin: 1rem;
  }

  &__sort-button {
    padding: 0.75rem 1.5rem;  
    background-color: #dabc80;
    color: #ffffff; 
    border: none; 
    border-radius: 5px; 
    font-size: 1rem; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
  
    &:hover {
      background-color: #d1ab60;
    }
  
    &:active {
      transform: scale(0.95); 
    }
  
    &:focus {
      outline: none; 
      box-shadow: 0 0 5px #56595d; 
    }
  }

  &__feed {
    flex: 3;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
}
