@use "./styles/partials/globals" as *;
@use './styles/partials/mixins' as *;

.app {
  &__controls {
    display: flex;
    justify-content: flex-end;
    margin: 1rem;
  }

  &__sort-button { 
    width: 100px;
    height: 20px;
    background-color: #eeb60c;
    color: #ffffff; 
    border: none; 
    border-radius: 5px; 
    font-size: 1rem; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
   
  
  
    &:hover {
      background-color: #d1ab60;
    }
  
    &:active {
      transform: scale(0.95); 
    }
  
    &:focus {
      outline: none; 
      box-shadow: 0 0 5px #56595d; 
    }
    @include tablet {
      padding: .35rem;
      width: 220px;
      height: 50px;
    }

    @include desktop {
      width: 250px; // Width for desktop
    }
  }

  &__feed {
    flex: 3;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
}
